
<div class="canvases_container" id="my_canvases_container" [style.height.px]="curr_canvas_set.height" [style.width.px]="curr_canvas_set.width">
	<canvas *ngFor="let canvas of curr_canvas_set.canvases;let i=index" class="canvas" id="canvas{{i}}" [width]="canvas.width*curr_canvas_set.width" [height]="canvas.height*curr_canvas_set.height" 
		[style.margin-top.px]="canvas.margin_top*curr_canvas_set.height" [style.margin-bottom.px]="canvas.margin_bottom*curr_canvas_set.height" [style.margin-left]="canvas.margin_left" [style.margin-right]="canvas.margin_right"></canvas>
</div>
