
<div class="canvases_container" id="my_canvases_container"  (window:resize)="onResize($event)" [style.height.px]="getContainerHeight()" style="width:80%;"  >
	<canvas  #canvasSet *ngFor="let canvas of getCurrCanvasSet();let i=index" class="canvas" [id]="'canvas'+i" [width]="canvas.width*getContainerWidth()" [height]="canvas.height*getContainerHeight()" 
		[style.margin-top.px]="canvas.margin_top*getContainerHeight()" [style.margin-bottom.px]="canvas.margin_bottom*getContainerHeight()" [style.margin-left.px]="canvas.margin_left*getContainerWidth()" [style.margin-right.px]="canvas.margin_right*getContainerWidth()"></canvas>
</div>
<br/>
<div style="display:flex; align-items: center;">
	<nouislider class="zoom_bar" [step]="0.01" [connect]= "true" [min]="minZoom" [max]="maxZoom" [(ngModel)]="zoomBarValue"  (slide)="onZoomBarSlide($event)" 
		(start)="onZoomStart()" (end)="onZoomEnd()"></nouislider><img src="assets/images/zoom-in.png"  width="17px" height="17px" style="margin-left:5px;" />
</div>
<div id="thumbnail_container">
	<button *ngFor="let thumbnail of thumbnails;let i = index" (invoke)="testFunc()" class="canvas_set_button" [style.background-image]="'url('+thumbnail.url+')'" (click)="changeCanvasSet(thumbnail.name)"></button>
</div>
<input type="file" id="file-input" style="margin-top:5px"/>
<br>
<button (click)="renderCanvases()" style="margin-top:5px">Render</button>
